@page "/"

<PageTitle>Index</PageTitle>

<div class="mdc-layout-grid__cell--span-12">
    <MBCard AutoStyled="true">
        <Primary>
            <h2>Navigate to the dashboard page to demonstrate lack of circuit closure by selecting a row.</h2>
            <h2>Remove the comment on line 103 in DashboardPage.razor.cs in OnInitializedAsync to force an exception. Again navigate to the dashboard and note the circuit closure after the display of the toast.</h2>
        </Primary>
    </MBCard>
</div>
